body {
    font-family: 'Lato', sans-serif;
<<<<<<< HEAD
=======
    background: #FAFAFA ;
>>>>>>> master
}

.navbar {
    background-color: #154c82;
<<<<<<< HEAD
=======
    color: white;
>>>>>>> master
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: white;
<<<<<<< HEAD
}
=======
}
>>>>>>> master
