.container {
    max-width: 800px !important;
}

.card {
    width: auto;
    border-radius: 0px;
}

.card .card-header {
    background-color: white;
    color: #6a87a7;
    text-align: center;
}

.title {
    color: #6a87a7;
    text-align: center;
}

#form_connection input.form-control {
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
}

#form_connection input.form-control:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid black;
}

.btn_custom {
    width: 100px;
    background: #27AE60;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 3px;
    margin: 10px 5px;
}

.btn_custom:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
    color: white;
}

.btn_custom:focus {
    outline: none;
    box-shadow: none;
}