#form_add_sortie select.form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid black;
}

#form_add_sortie .col-form-label {
    font-weight: bold;
}

#form_add_sortie .form-control {
    width: 100%;
    border-radius: 0px;
}

#form_add_sortie .form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid black;
}

.btn_custom {
    width: 100px;
    background: #27AE60;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 3px;
    margin: 10px 5px;
}

.btn_custom:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
    color: white;
}

.btn_custom:focus {
    outline: none;
}

.btn_custom_secondary {
    width: 100px;
    background: #6c757d;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 3px;
    margin: 10px 5px;
}

.btn_custom_secondary:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #6c757d;
    color: white;
}

.btn_custom_secondary:focus {
    outline: none;
}